<div fxLayout="row" fxLayoutAlign="start center" style="background-color: #ddd; height: 50px;">
  <div 
    fxFlex="10%" 
    fxFlexAlign="center"
    fxLayoutAlign="center center"
    style="background-color: blue; color: white; margin: 0 5px">
      Test 1
  </div>
  <div 
    fxFlex="10%" 
    fxFlexAlign="center"
    fxLayoutAlign="center center"
    style="background-color: blue; color: white; margin: 0 5px; margin-left: auto;">
      Test 2
  </div>
  <div 
    fxFlex="10%" 
    fxFlexAlign="center"
    fxLayoutAlign="center center"
    style="background-color: blue; color: white; margin: 0 5px;">
      Test 3
  </div>
  
</div>